.avatar {
  display: block;
  width: 300px;
  margin: 0 auto 30px auto;
  background: url("https://github.com/mespina1/website-images/blob/master/headshot.jpg");
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 400px;
  width: 400px;
}
